<?xml version="1.0"?>

<!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=Ari\SQLEXPRESS;database=WSMClients;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
    <add name="WSMProcessingEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;&#xA;   provider connection string=&quot;data source=ari\SQLExpress;initial catalog=WSMClients;user id=WSM;password=RCLawWSM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Frodo" connectionString="Server=Ari\SQLExpress;database=WSMProcessing;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
    <add name="ClPortalDbg" connectionString="Server=Ari\SQLExpress;database=WSMDebug;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

<connectionStrings>
  <add name="WSMProcessingEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ENEST;initial catalog=WSMProcessing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="ClPortalDbg" connectionString="Server=ENEST;database=WSMDebug; integrated security=True" providerName="System.Data.SqlClient"/>
  <add name="Frodo" connectionString="Server=ENEST;database=WSMProcessing; integrated security=True" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Server=ENEST;database=WSMClients; integrated security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>



