<?xml version="1.0"?>

 <connectionStrings>
	  <add name="DefaultConnection" connectionString="Server=NY-231\SQLEXPRESS;database=WSMClients;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
	  <add name="WSMProcessingEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;&#xA;   provider connection string=&quot;data source=NY-231\SQLExpress;initial catalog=WSMClients;user id=WSM;password=RCLawWSM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="Frodo" connectionString="Server=NY-231\SQLExpress;database=WSMProcessing;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
	  <add name="ClPortalDbg" connectionString="Server=NY-231\SQLExpress;database=WSMDebug;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>
 </connectionStrings>
   

