<?xml version="1.0"?>
<appSettings>

 
  <add key="LogFile" value="c:\dev\logs\ProcessDebtAcctUspsReports\ProcessDebtAcctUspsReports" />
  <add key="LogLevel" value="debug" />
  <add key="DisputeLettersDest" value="C:\WSM\Websites\FrodoDocs\DebtAccounts"/>
  
  <add key="DisputeLettersSrc" value="C:\dev\ParsePdf\CertifiedDisputesOCR"/>
  <add key="UspsTrackingSrc" value="C:\dev\ParsePdf\UspsTracking"/>
  <add key="UspsTrackingDest" value="C:\WSM\Websites\FrodoDocs\UspsTrackingReports"/>
  <add key="DiputeLettersNonAcctDest" value ="c:\dev\ParsePdf\CertifiedDebtAccounts\Unread"/>


</appSettings>


