<?xml version="1.0"?>
<appSettings>

  <!--Uncomment the next two lines to enable logging.
  The "LogFile" value should be a directory followed by a filename prefix e.g.  c:\mylogs\MyProcess
  This will create daily timestamped logs in the indicated directy with the indicated file prefix.
  E.g.   c:\mylogs\MyProcess.2016.01.07.log
  
  <add key="LogFile" value="c:\dev\logs\ProcessDebtAcctUspsReports\ProcessDebtAcctUspsReports" />
  <add key="LogLevel" value="debug" />-->
 
  <!--This directory will be scanned for html files containing USPS tracking information-->
  <add key="UspsTrackingSrc" value="C:\dev\ParsePdf\UspsTracking"/>
  
  <!--Successfully parsed reports will be moved here -->
  <add key="UspsTrackingDest" value="C:\WSM\Websites\FrodoDocs\UspsTrackingReports"/>
  
  <!--Reports which cannot be parsed will be moved here-->
  <add key="DiputeLettersNonAcctDest" value ="c:\dev\ParsePdf\CertifiedDebtAccounts\Unread"/>


</appSettings>


