<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="Config\Connections.config">
    <!--<add name="Frodo" connectionString="Server=NY-231\SQLExpress;database=WSMProcessing;user id=WSM;password=RCLawWSM" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <appSettings configSource="Config\Settings.config">

  </appSettings>

  <system.net>
  <mailSettings>
    <smtp configSource="Config\smtp.config">
    </smtp>

  </mailSettings>
  </system.net>

</configuration>
    
                                               